<dl></dl>
<form action="/add_message" method="post">
<label for="new_message">You:</label>
<input id="new_message" type="text" name="user_chat" placeholder="Enter a message">
<button>Send</button>
</form>
<hr>
<form>
<button>Clear chat history</button>
</form>
