<h1>GPT single message</h1>
<form action="/process_message" method="post">
<label for="message_field">Your message:</label>
<input id="message_field" type="text" name="user_message">
<button>Send!</button>
</form>
