<h1>Should I take an umbrella?</h1>
<form action="/umbrella_results" method="post">
<label for="location_field">Where are you located?</label>
<input id="location_field" type="text" name="user_loc">
<button>Submit</button>
</form>
