<h1>Should I take an umbrella?</h1>
<!--form goes here-->
<form>
<label for="location_field">Where are you located?</label>
<input id="location_field" type="text" name="user_loc">
<button>Submit</button>
</form>
